environment                            = "prod"
project_name                           = "<project-name>"
location                               = "<azure-region>"
resource_group_name                    = "rg-<project>-prod"
acr_name                               = "<project>prodacr01"
aks_name                               = "aks-<project>-prod"
key_vault_name                         = "kv-<project>-prod-01"
log_analytics_name                     = "log-<project>-prod"
create_dns_zone                        = false
dns_zone_name                          = ""
dns_resource_group_name                = ""
kubernetes_version                     = null
aks_location                           = "<aks-region-or-null>"
node_count                             = 1
node_vm_size                           = "Standard_D2s_v3"
enable_databricks                      = true
databricks_workspace_name              = "dbw-<project>-prod"
databricks_sku                         = "premium"
enable_static_web_app                  = true
static_web_app_name                    = "swa-<project>-prod"
static_web_app_sku_tier                = "Standard"
static_web_app_sku_size                = "Standard"
enable_workload_identity               = true
enable_key_vault_csi                   = true
kubernetes_namespace                   = "<project>-prod"
workload_identity_service_account_name = "<project>-api-prod"
enable_postgresql                      = true
postgresql_server_name                 = "pg-<project>-prod"
postgresql_location                    = "<azure-region>"
postgresql_database_name               = "<db-name>"
postgresql_admin_username              = "<db-admin-user>"
postgresql_admin_password              = "<db-admin-password>"
postgresql_sku_name                    = "GP_Standard_D2s_v3"
postgresql_storage_mb                  = 65536
postgresql_version                     = "16"
postgresql_public_access_enabled       = true

key_vault_app_secrets = {
  JWT_SECRET_KEY = "<jwt-secret>"
  DATABASE_URL   = "<database-url>"
}

tags = {
  owner      = "<owner>"
  costcenter = "<cost-center>"
}
